<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login.css')}}">
<section class="login">
{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content%}
{% with messages= get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category,msg in messages %}
            {% if category == 'success' %}
                <div class="alert alert-success text-center w-100 mx-auto"  role="alert">
            {% elif category == 'danger' %}
                <div class="alert alert-danger text-center w-100 mx-auto"  role="alert">
            {% else %}
                <div class="alert alert-info text-center w-100 mx-auto" role="alert">
            {% endif %}
                <b>{{msg}}</b>
            </div>
        {% endfor %}
    {% endif %}
{% endwith%}

<style>

.input-group {
    display: flex;
    justify-content: center;
}
#footer{
    background-color: black;
}
.bi-facebook{
    fill: white; 
}
.bi-twitter{
    fill: white;
}
.bi-instagram{
    fill: white;
}
.footer{
    background-color: black;

}
.bi{
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}

.row h5{
    color: white;
}
.footer p{
    color: white;
}

.signUp{
    background-color: transparent!important;
    color: white!important;
    border: 2px solid #009688!important;
    border-radius: 2px!important;
    width: 200px; 
    height: 50px; 
}
.signUp:hover{
    background-color: #009688!important;
} 
.signInbtn{
    background-color: white!important;
    color: orangered!important;
    border: 2px solid orangered!important;
    border-radius: 2px!important;
    width: 200px; 
    height: 50px; 
}
body{
    overflow-x: hidden;
}
.image{
    width: 450px;
    height: 460px;
}
.pageName{
    background-color:#0c0D36;
    color: white;
    align-items: center;
   font-family:'Times New Roman', Times, serif;
}
@media (max-width: 768px) {
    .image{
        width:365px;
        height:460px;
    }
}


</style>
<script>
    function callIT(){
        window.location.href="register.html";
    }
</script>




    <div class="container">
         
      
        <div class="row  align-items-center justify-content-center">
            
            <div class="col-md-7 col-lg-4">
              <h1 class="mb-3 text-light text-center" style="margin-top: 40%">LOGIN</h1>
              <div id="msg"></div>
              <form class="neeon" method="POST" id="form_data">
                <div class="row g-3">
               
                
      
                  <div class="col-12">
                    <label for="email" class="form-label text-light">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
                  
                  </div>
      
                  <div class="col-12">
                    <label for="address" class="form-label text-light">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    
                </div>
                </div>
                <hr class="my-4">
           <!--add flash messages here-->
              
                <div class="loginBtn">
                <button class="signUp w-100 btn-lg" name=submit type="submit" style="background: #009688;">Sign in</button>
                </div>
                <br>
                <button class="p-2 rounded w-100 btn-lg text-"  style="border:1px solid orange" name="normal"><a href="/register" target='_blank' style="text-decoration: none;">Don't have an Account? Register</a></button>
              
                <h6 class="mt-3 text-light">Forget<a style="color:#009688" href="/find"> password? </a></h6>  
            </form>
            </div>
          </div>
        <br>
        <br>
    </div>
      </section>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"></script>
       {% include "footer.html" %}

  {% endblock %}


