<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Reverb</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='visuvalize.css')}}">
    <script src="{{url_for('static',filename='visuvalize.js')}}"></script>
</head>
<body>
    <h1>Add Reverb</h1>

    <form action="/reverb" method="post" enctype="multipart/form-data" id="reverbForm">
        <label for="audioFile">Select Audio File:</label>
        <input type="file" name="audioFile" id="audioFile" accept=".mp3, .wav, .mkv" required />
        <canvas id="canvas" style="height:200px;width: 100%;"></canvas>
        <h3 id="name"></h3>
        <audio id="audio" controls></audio>
        <div id="background"></div>
        <br>
        <button type="submit">Add Reverb</button>
    </form>
</body>
</html>
